.manage-ingedrient {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 20px;
    .label-align {
        text-align: left;
        color: #090979;
    }
    .element-align {
        width: 150px;
    }
    .button-align {
        min-width: 50px;
    }
    .margin-15 {
        margin-right: 15px
    }
}